<!DOCTYPE html>

<html>
    <head>
        <title>Página de exemplos</title>
        <link rel="stylesheet" type="text/css" href="mystyle.css" />
    </head>
    <body>
        <h1>Bem vindo!!</h1>
        <p>Este é um exemplo de textoo. <a href="http://www.google.com"> Clique aqui</a>
        para acessar o google</p>

        <p>Acesse informações sobre as tags HTML <a href="http://w3schools.com/tags/-
            defaut.asp">aqui</a>.</p>

        <p>{{content}}</p>

        <h2> Código Python!!</h2>

        {% for i in range(5)  %}
            <p> Valor: {{i+2}}</p>
        {% endfor%}
    </body>
</html>